<div id="carousel" class="carousel slide" data-ride="carousel">
	<div class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">

			<div class="item active">
				<div class="page-header header-filter" style="background-image: url('<%- url_for('images/masthead.jpg') %>');">

					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<h1 class="title">The 2017 celebration happens</h1>
								<h4>August 25 - 27 in Downtown Latrobe!</h4>
								<br />
								<a href="/schedule" class="btn btn-info btn-round">Celebration Schedule</a><a href="/events/entertainment-stage" class="btn btn-info btn-round">Entertainment Lineup</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item ">
				<div class="page-header header-filter" style="background-image: url('<%- url_for('images/carousel-foam-run.jpg') %>');">

					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<h1 class="title">(Almost) 5k Foam Run</h1>
								<h4>It's not quite a full 5k, but who cares when you're running through foam!?</h4>
								<a href="<%- url_for('/foam-run-registration') %>" class="btn btn-info btn-lg">Register</a>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="item ">
				<div class="page-header header-filter" style="background-image: url('<%- url_for('images/carousel-2x-the-entertainment.jpg') %>');">

					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<h1 class="title">2x the Fun with<br />Two Entertainment Stages!</h1>
								<h4>Bands and local acts all weekend long on the<br />Sendell Motors and Main Street Stages</h4>
								<a href="<%- url_for('events/entertainment-stage') %>" class="btn btn-info btn-lg">Stage Schedule</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel" data-slide="prev">
			<i class="material-icons">keyboard_arrow_left</i>
		</a>
		<a class="right carousel-control" href="#carousel" data-slide="next">
			<i class="material-icons">keyboard_arrow_right</i>
		</a>
    <!-- End Controls -->

	</div>
</div>
