<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<%- url_for(config.root) %>">Great American <span>Banana Split</span> Celebration</a>
			</div>

			<div class="collapse navbar-collapse" id="navigation-example">
	<ul class="nav navbar-nav navbar-right">
								<li>
										<a href="<%- url_for(config.root) %>">Home</a>
								</li>
								<li>
										<a href="<%- url_for('schedule') %>">Schedule</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										Events & Activities
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="<%- url_for('events/concert') %>">
												Kellie Pickler Concert
											</a>
										</li>
										<li>
											<a href="<%- url_for('events/5k-banana-run') %>">
												5k Banana Run
											</a>
										</li>
										<li>
											<a href="<%- url_for('events/outdoor-arena') %>">
												Arena
											</a>
										</li>
										<li>
											<a href="<%- url_for('events/car-cruise') %>">
												Car Cruise
											</a>
										</li>
										<li>
											<a href="<%- url_for('events/climbing-wall') %>">
												Climbing Wall
											</a>
										</li>
										<li>
											<a href="<%- url_for('events/color-dash') %>">
												Color Dash
											</a>
										</li>
										<li>
											<a href="<%- url_for('events/entertainment-stage') %>">
												Entertainment Stage
											</a>
										</li>
										<li>
											<a href="<%- url_for('events/farmers-market') %>">
												Farmer's Market
											</a>
										</li>
										<li>
											<a href="<%- url_for('events/food-court') %>">
												Food Court
											</a>
										</li>
										<li>
											<a href="<%- url_for('events/kids-corner') %>">
												Kid's Corner
											</a>
										</li>
										<li>
											<a href="<%- url_for('events/pie-eating-contest') %>">
												Pie Eating Contest
											</a>
										</li>
									</ul>
								</li>

						</ul>
			</div>
	</div>
</nav>
