<footer class="footer footer-black footer-big">
  <div class="container">

    <div class="content">
      <div class="row">
        <div class="col-md-5">
          <img src="<%- url_for('/images/GABSC-2017.png') %>" class="img img-responsive" />
          <h5>Great American Banana Split Celebration</h5>
          <p>A grand celebration in downtown Latrobe, PA to perpetuate Dr. Stickler's 1904 invention of the banana split.</p>
        </div>

        <div class="col-md-3">
          <h5>Social Feed</h5>
          <div class="social-feed">
            <div class="feed-line">
              <i class="fa fa-twitter"></i>
              <p>Connect with us on <a href="https://twitter.com/bananasplitfest">Twitter</a></p>
            </div>
            <div class="feed-line">
              <i class="fa fa-facebook-square"></i>
              <p>Like us on <a href="https://fb.com/bananasplitfest">Facebook</a></p>
            </div>
            <div class="feed-line">
              <i class="fa fa-instagram"></i>
              <p>Find us on <a href="https://instagram.com/bananasplitfest">Instagram</a></p>
            </div>
            <div class="feed-line">
              <i class="fa fa-snapchat-ghost"></i>
              <p>Follow us on <a href="https://snapchat.com/add/bananasplitfest">Snapchat</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h5>Instagram Feed</h5>
          <div class="gallery-feed" id="instafeed"></div>

        </div>
      </div>
    </div>


    <hr />

    <ul class="pull-left">
      <li>
        <a href="<%- url_for('/') %>">
           Home
        </a>
      </li>
      <li>
        <a href="<%- url_for('/schedule') %>">
          Schedule
        </a>
      </li>
      <li>
        <a href="<%- url_for('/attend') %>">
          Attend
        </a>
      </li>
      <li>
        <a href="<%- url_for('/volunteer') %>">
          Volunteer
        </a>
      </li>
    </ul>

    <div class="copyright pull-right">
      Copyright &copy; Greater Latrobe - Laurel Valley Chamber of Commerce.
    </div>
  </div>
</footer>
